.dashboard {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* CARDS */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 20px;
}

.card {
  background: var(--sidebar-bg);
  padding: 20px;
  border-radius: 12px;
}

.card h3 {
  font-size: 14px;
  margin-bottom: 10px;
}

.card p {
  font-size: 26px;
  font-weight: bold;
}

/* TABLE */
.sessions-section {
  background: var(--sidebar-bg);
  padding: 20px;
  border-radius: 12px;
}

.section-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.add-btn {
  border: none;
  padding: 8px 14px;
  cursor: pointer;
  border-radius: 8px;
}

.sessions-table {
  width: 100%;
  border-collapse: collapse;
}

.sessions-table th,
.sessions-table td {
  padding: 10px;
  text-align: start;
  border-bottom: 1px solid #ddd;
}
