:root {
  --nav-bg: #ffffff;
  --sidebar-bg: #f5f5f5;
  --main-bg: #fafafa;
  --text-color: #222;
}

body.dark {
  --nav-bg: #1f1f1f;
  --sidebar-bg: #161616;
  --main-bg: #121212;
  --text-color: #f0f0f0;
}
.session-upcoming {
  background: rgba(46, 204, 113, 0.15);
}

.session-today {
  background: rgba(243, 156, 18, 0.2);
  font-weight: bold;
}

.session-past {
  opacity: 0.6;
}
.nav-avatar{
  width:36px;
  height:36px;
  border-radius:50%;
  object-fit:cover;
  cursor:pointer;
  border:2px solid #2e7d32;
  transition:0.2s;
}

.nav-avatar:hover{
  transform:scale(1.08);
}
.profile-page{
  min-height:100vh;
  padding:20px;
  background: var(--main-bg);
  color: var(--text-color);
}
